# Ignore virtual enviroment
*env/

# Ignore Python cache
__pycache__/

# Ignore model detection
*.pt
yolov8n_openvino_model/

# Ignore tracker algorithm
/deep_sort
/model_data
tracker.py

# Ignore trial file
*.mp4
coba.py